<!DOCTYPE html>

<html>

<head>
<meta charset="UTF-8">
<title>Article Generator</title>
</head>
<body style="background-color:grey;">
<div align-content="center">


<img  src="https://raw.githubusercontent.com/kshitizsharan/MERN-Dev/master/Head-removebg-preview.png" alt="https://raw.githubusercontent.com/kshitizsharan/MERN-Dev/master/Head-removebg-preview.png">
<form action="article" method="post">
        <p>
            ENTER KEYWORD
        </p>
        
        <br>
        <input type="text" name="name_input">
        <br>
        <input type="submit" value="ARTICLE" id="article">
        {% for message in get_flashed_messages()%}
            <p> {{message}} </p>
        {% endfor %}
        
</form>
</div>
</body>

</html>