<!DOCTYPE html>

<html>

<head>
<meta charset="UTF-8">
<title>Article Generator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.jpg') }}">
</head>
<body style="background-color:SlateGrey;">



<img  src="https://raw.githubusercontent.com/kshitizsharan/MERN-Dev/master/Head-removebg-preview.png" alt="https://raw.githubusercontent.com/kshitizsharan/MERN-Dev/master/Head-removebg-preview.png">
<form action="article" method="post">
        <p>
            ENTER KEYWORD
        </p>
        
        <br>
        <input type="text" name="name_input">
        <br>
        <input type="submit" value="ARTICLE" id="article">
        <br><br><br>
        

        {% for message in get_flashed_messages()%}
            <p> {{message}} </p>
        {% endfor %}
        
</form>
<p align="center"><a href=/welcome ><button class=grey style="height:75px;width:150px" id="article1">Want To Have More Fun?</button></a></p>
</body>

</html>